.searchbar{
    display: flex;
    border: 1px solid var(--color-dark);
    border-radius: 8px;
    overflow: hidden;
    width: 500px;
    max-width: 100%;
    align-items: center;
}
.searchbar input{
    border: 0;
    height:48px;
    padding:0 12px;
    font-size:16px;
    flex:1;
    border-top-left-radius: 8px;
    border-bottom-left-radius: 8px;
    font-family: 'Lato', sans-serif;
    color:var(--color-dark);
    outline: 0;
}
.searchbar input::placeholder{
    color:var(--color-dark);
}
.searchbar button{
    border:0;
    border-left: 1px solid var(--color-dark);
    background: var(--color-white);
    height:48px;
    padding:0 20px;
    cursor: pointer;
}